.anchorProj {
  text-decoration: none;
}

.parent {
  position: relative;
  max-width: 300px;
  min-width: 200px;
  max-height: 70vh;
  min-height: 70vh;
  background-color: var(--primary-color);
  align-self: center;
  z-index: 900;
  border: solid 1px rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  padding: 1em;
  transition: scale 0.5s, border-width 0.5s, border-color 0.5s;
  border-radius: 15px;
  margin-right: 5em;
  margin-top: 3em;
  margin-bottom: 3em;

  font-family: var(--font-comfortaa);
  /* right: -1500px; */
}

.parent:hover {
  scale: 1.035;
  border: 8px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.parent img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5em;
  border-radius: 15px;
}

.parent h1 {
  font-family: var(--font-comfortaa);
  color: var(--background-color);
}

.parent p {
  font-family: var(--font-comfortaa);
  color: var(--background-color);
  font-weight: 600;
}

.parent a {
  font-family: var(--font-comfortaa);
  color: var(--background-color);
  text-decoration: none;
}

.projectLinks {
  width: 5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectLinks i {
  scale: 1.5;
  color: var(--background-color);
}
