* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.mainNav {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4cb77a;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.mainNav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name li a {
  font-size: 1.625rem;
  text-decoration: none;
}

.name {
  transition: transform 0.3s ease;
}

.name:hover {
  transform: scale(1.2);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 15em;
}

.links li {
  transition: transform 0.4s ease;
  margin: 1em;
}

.links li:hover {
  transform: scale(1.2);
}

.links li a {
  font-size: 1.25rem;
  text-decoration: none;
}

.mainNav ul li {
  list-style: none;
}

.mainNav ul li a {
  color: #091710;
  font-family: var(--font-comfortaa);
}

@media (max-width: 480px) {
  .links li a {
    font-size: 1.25rem;
  }
}
