* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.mainNav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4cb77a;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.mainNav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name li a {
  font-size: 1.725rem;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15em;
}

.links li a {
  font-size: 1.25rem;
}

.mainNav ul li {
  list-style: none;
}

.mainNav ul li a {
  color: #091710;
  font-family: var(--font-comfortaa);
}
