.sec {
  position: relative;
  width: 100%;
  height: 88vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  position: absolute;
  left: 0;
  /* top: 12vh; */
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  /* background: linear-gradient(45deg, #4cb77a, #a3d9da, #79bbc9); */
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
}
.wave span {
  position: absolute;
  width: 125vw;
  height: 125vw;
  top: 50%; /* Center vertically */
  left: 0; /* Move to the left side */
  transform: translate(-50%, -50%);
  background: #000;
}
.wave span:nth-child(1) {
  animation: animate 15s linear infinite;
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
}
.wave span:nth-child(2) {
  animation: animate 20s linear infinite;
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
}
.wave span:nth-child(3) {
  animation: animate 25s linear infinite;
  border-radius: 43%;
  background: rgba(20, 20, 20, 0.5);
}
.wave span:nth-child(4) {
  animation: animate 23s linear infinite;
  border-radius: 47%;
  background: rgba(20, 20, 20, 0.5);
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background {
  min-height: 88vh;
  max-height: 88vh;
  width: 100%;
  /* background-color: #091710; */
  background-position: center;
  overflow: visible;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 1.625em;

  z-index: 99;
}

.bio {
  color: #fff;
  max-width: 30em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio h1 {
  font-family: var(--font-comfortaa);
  font-size: 2.125em;
  text-align: center;
}

.bio p {
  font-family: var(--font-comfortaa);
  font-size: 1.825em;
  text-align: center;
}

.profilePic {
  min-width: 40vh;
  min-height: 40vh;
  z-index: 100;
  background-image: url(../images/profile-pic2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  transition: transform 0.4s ease;
  z-index: 99;

  border: solid 2px var(--text-color);
}

.profilePic:hover {
  transform: scale(1.2);
}

.skills {
  max-width: 25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 810px) {
  .wave span {
    width: 150vw;
    height: 150vw;
    top: 0%; /* Center vertically */
    left: 50%; /* Move to the left side */
    transform: translate(-50%, 0%);
  }

  .background {
    flex-direction: column;
    padding-left: 1.125em;
    padding-right: 1.125em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .bio {
    align-items: center;
    text-align: center;
  }

  .bio h1 {
    font-size: 2em;
  }

  .bio p {
    font-size: 1.125em;
  }
}

@media (max-width: 810px) {
  .profilePic {
    min-width: 32vh;
    min-height: 32vh;
  }
}

@media (max-width: 435px) {
  .profilePic {
    min-width: 25vh;
    min-height: 25vh;
  }
}
