.background {
  min-height: 88vh;
  background-color: black;
  /* background-image: url(../app/images/cat-background.png); */
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
}

.bio {
  color: #fff;
  max-width: 30em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bio h1 {
  font-family: var(--font-comfortaa);
  font-size: 2.5vw;
}

.profilePic {
  width: 25vw;
  height: 25vw;
  z-index: 100;
  background-image: url(../app/images/profile-pic2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

@media (max-width: 810px) {
  .background {
    flex-direction: column;
    padding-left: 1.125em;
    padding-right: 1.125em;
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .bio {
    align-items: center; /* Center items in column layout */
    text-align: center;
  }

  .bio h1 {
    font-size: 1.125rem; /* Adjust font size for smaller screens */
  }

  .profilePic {
    width: 15em;
    height: 15em;
  }
}
