.skillBox {
  min-width: 5rem;
  min-height: 1.625rem;
  border: 3px solid white;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.125rem;
  font-family: var(--font-comfortaa);

  transition: border 0.3s;

  background-color: var(--primary-color);
  color: var(--background-color);
}

.skillBox:hover {
  border: solid 3px var(--accent-color);
}
